In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("diamonds.csv")
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [9]:
null_count = df.isna().sum()
null_count

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [8]:
df.drop("Unnamed: 0", axis=1, inplace=True)
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [11]:
df.drop(["Unnamed: 0","carat"], axis=1, inplace=True)
df

             cut color clarity  depth  table  price     x     y     z
0          Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1        Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2           Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3        Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4           Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...          ...   ...     ...    ...    ...    ...   ...   ...   ...
53935      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [12]:
df.columns

Index(['cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z'], dtype='object')

In [43]:
df_copy = pd.read_csv("diamonds_with_null_values_and_duplicates.csv")
df_copy.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [44]:
df_copy.isna().sum()

Unnamed: 0    0
carat         6
cut           1
color         1
clarity       0
depth         2
table         2
price         2
x             1
y             0
z             1
dtype: int64

In [45]:
df_copy.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,NaN,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,NaN,NaN,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63
4,5,NaN,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336.0,3.94,3.96,2.48
6,7,0.24,Very Good,NaN,VVS1,62.3,57.0,336.0,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337.0,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337.0,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338.0,4.00,4.05,2.39

In [46]:
df_copy["carat"] = df_copy["carat"].fillna(1000)

In [47]:
df_copy.isna().sum()

Unnamed: 0    0
carat         0
cut           1
color         1
clarity       0
depth         2
table         2
price         2
x             1
y             0
z             1
dtype: int64

In [48]:
df_copy.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,1000.00,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,1000.00,NaN,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63
4,5,1000.00,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336.0,3.94,3.96,2.48
6,7,0.24,Very Good,NaN,VVS1,62.3,57.0,336.0,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337.0,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337.0,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338.0,4.00,4.05,2.39

In [1]:
df_copy['z'].isna().sum()

NameError: name 'df_copy' is not defined