In [1]:
import pandas as pd

from May_2025.Day7_22_05_2025.ML_data_wrangling_part_1 import label_object

df = pd.read_csv("../../Dataset/Diamonds/diamonds.csv")
df.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [11]:
from sklearn.preprocessing import LabelEncoder

label_object_LE = LabelEncoder()

In [12]:
df['cut'] = label_object_LE.fit_transform(df['cut'])
df['color'] = label_object_LE.fit_transform(df['color'])
df['clarity'] = label_object_LE.fit_transform(df['clarity'])
df.head(20)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,2,1,3,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,3,1,2,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,1,1,4,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,3,5,5,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,1,6,3,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,4,6,7,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,4,5,6,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,4,4,2,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,0,1,5,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,4,4,4,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,1,6,2,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,2,6,4,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,3,2,2,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,2,6,3,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,3,1,3,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,3,1,0,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,2,5,3,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,1,6,2,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,1,6,2,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,4,6,2,62.7,59.0,351,4.21,4.27,2.66

In [13]:
from sklearn.preprocessing import OrdinalEncoder

label_object_OE = OrdinalEncoder()

In [14]:
df['cut'] = label_object_OE.fit_transform(df[['cut']])
df['color'] = label_object_OE.fit_transform(df[['color']])
df['clarity'] = label_object_OE.fit_transform(df[['clarity']])
df.head(20)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,2.0,1.0,3.0,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,3.0,1.0,2.0,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,1.0,1.0,4.0,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,3.0,5.0,5.0,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,1.0,6.0,3.0,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,4.0,6.0,7.0,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,4.0,5.0,6.0,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,4.0,4.0,2.0,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,0.0,1.0,5.0,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,4.0,4.0,4.0,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,1.0,6.0,2.0,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,2.0,6.0,4.0,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,3.0,2.0,2.0,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,2.0,6.0,3.0,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,3.0,1.0,3.0,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,3.0,1.0,0.0,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,2.0,5.0,3.0,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,1.0,6.0,2.0,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,1.0,6.0,2.0,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,4.0,6.0,2.0,62.7,59.0,351,4.21,4.27,2.66

In [49]:
df_copy = pd.read_csv("../../Dataset/Diamonds/diamonds_with_null_values_and_duplicates.csv")

df_copy[['cut', 'color']].head(10)

         cut color
0      Ideal     E
1      Ideal     E
2        NaN     E
3        NaN   NaN
4        NaN     E
5        NaN     I
6       Good     J
7  Very Good     J
8  Very Good   NaN
9  Very Good     H

In [50]:
df_copy['color'] = label_object_LE.fit_transform(df_copy['color']) # Considers null(NaN) value for encoding
df_copy[['cut','color']].head(10)

         cut  color
0      Ideal      1
1      Ideal      1
2        NaN      1
3        NaN      7
4        NaN      1
5        NaN      5
6       Good      6
7  Very Good      6
8  Very Good      7
9  Very Good      4

In [51]:
df_copy['cut'] = label_object_OE.fit_transform(df_copy[['cut']]) # Ignores null(NaN) value for encoding
df_copy[['cut','color']].head(10)

   cut  color
0  2.0      1
1  2.0      1
2  NaN      1
3  NaN      7
4  NaN      1
5  NaN      5
6  1.0      6
7  4.0      6
8  4.0      7
9  4.0      4