In [39]:
import pandas as pd

file_content = pd.read_csv("diamonds.csv")
print(file_content)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

In [30]:
row_reading = file_content.head()
print(row_reading)

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

In [31]:
row_reading_ten = file_content.head(10)
print(row_reading_ten)

   Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0           1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1           2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2           3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3           4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4           5   0.31       Good     J     SI2   63.3   58.0    335  4.34
5           6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94
6           7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95
7           8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07
8           9   0.22       Fair     E     VS2   65.1   61.0    337  3.87
9          10   0.23  Very Good     H     VS1   59.4   61.0    338  4.00

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75
5  3.96  2.48
6  3.98  2.47
7  4.11  2.53
8  3.78  2.49
9  4.05  2.39

In [32]:
row_reading

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [33]:
row_reading_ten

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [34]:
last_row_reading = file_content.tail()
last_row_reading

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [35]:
last_ten_row_reading = file_content.tail(10)
last_ten_row_reading

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53932,53933,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47
53933,53934,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [41]:
columns_reading = file_content.columns
columns_reading

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [44]:
column_length = len(columns_reading)
column_length

11

In [46]:
data_description = file_content.describe() # describe() is for numerical columns alone
data_description

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [72]:
data_information = file_content.info() # info() is for both numerical and non-numerical (objects) types
data_information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [54]:
data_reading_specific_column = file_content["cut"].head()
data_reading_specific_column

0      Ideal
1    Premium
2       Good
3    Premium
4       Good
Name: cut, dtype: object

In [56]:
data_reading_multiple_columns = file_content[["cut", "carat", "price"]]
data_reading_multiple_columns

             cut  carat  price
0          Ideal   0.23    326
1        Premium   0.21    326
2           Good   0.23    327
3        Premium   0.29    334
4           Good   0.31    335
...          ...    ...    ...
53935      Ideal   0.72   2757
53936       Good   0.72   2757
53937  Very Good   0.70   2757
53938    Premium   0.86   2757
53939      Ideal   0.75   2757

[53940 rows x 3 columns]

In [58]:
data_between_rows = file_content[3:6] # Slicing concept
data_between_rows

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48

In [60]:
data_between_rows_end_value_inclusive = file_content.loc[0:6] # Slicing concept specific to pandas
data_between_rows_end_value_inclusive

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47

In [66]:
data_between_rows_loc_col = file_content.loc[3:6, "carat"]
data_between_rows_loc_col

3    0.29
4    0.31
5    0.24
6    0.24
Name: carat, dtype: float64

In [68]:
data_between_rows_loc_cols = file_content.loc[3:6, ["carat", "cut", "price"]]
data_between_rows_loc_cols

   carat        cut  price
3   0.29    Premium    334
4   0.31       Good    335
5   0.24  Very Good    336
6   0.24  Very Good    336

In [71]:
data_type = file_content.dtypes # Similar to info() method. Abstraction of info()
data_type

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [79]:
category_value_count = file_content["cut"].value_counts()
category_value_count

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [81]:
category_value_count = file_content["cut"].unique()
category_value_count

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [82]:
category_value_count = file_content["cut"].nunique()
category_value_count

5