In [15]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [16]:
df = pd.read_csv("../../Dataset/Diamonds/diamonds.csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [17]:
one_hot_encoder = OneHotEncoder(sparse_output=False)
cut_encoded = one_hot_encoder.fit_transform(df[["cut"]])
cut_encoded

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.]])

In [19]:
cut_encoded_df = pd.DataFrame(cut_encoded, columns=one_hot_encoder.get_feature_names_out(['cut']))
cut_encoded_df

       cut_Fair  cut_Good  cut_Ideal  cut_Premium  cut_Very Good
0           0.0       0.0        1.0          0.0            0.0
1           0.0       0.0        0.0          1.0            0.0
2           0.0       1.0        0.0          0.0            0.0
3           0.0       0.0        0.0          1.0            0.0
4           0.0       1.0        0.0          0.0            0.0
...         ...       ...        ...          ...            ...
53935       0.0       0.0        1.0          0.0            0.0
53936       0.0       1.0        0.0          0.0            0.0
53937       0.0       0.0        0.0          0.0            1.0
53938       0.0       0.0        0.0          1.0            0.0
53939       0.0       0.0        1.0          0.0            0.0

[53940 rows x 5 columns]

In [22]:
df = pd.concat([df.drop("Unnamed: 0", axis=1),cut_encoded_df], axis=1)
df

,carat,cut,color,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.0,0.0,1.0,0.0,0.0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.0,0.0,0.0,1.0,0.0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.0,1.0,0.0,0.0,0.0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.0,0.0,0.0,1.0,0.0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,0.0,0.0,1.0,0.0,0.0
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,0.0,1.0,0.0,0.0,0.0
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,0.0,0.0,0.0,0.0,1.0
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,0.0,0.0,0.0,1.0,0.0
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,0.0,0.0,1.0,0.0,0.0